.bg-type {
  padding: 10px;
  margin: 16px 5px 0px;
  border-radius: 59px;
  box-shadow: 0 4px 8px;
  font-size: 13px;
  margin-top: 16px;
  width: auto;
  min-width: min-content;
  max-width: max-content;
  height: 40px;
  font-weight: bold;
}

.bg-pokeball-red {
  background: #9f0f10 !important;
}

.bg-normal {
  background: #a8a77a !important;
}

.bg-fire {
  background: #ee8130 !important;
}

.bg-water {
  background: #7fa3f0 !important;
}

.bg-electric {
  background: #f7d02c !important;
}

.bg-grass {
  background: #9ddf97 !important;
}

.bg-ice {
  background: #96d9d6 !important;
}

.bg-fighting {
  background: #de6d68 !important;
}

.bg-poison {
  background: #c46ac3 !important;
}

.bg-ground {
  background: #e2bf65 !important;
}

.bg-flying {
  background: #a98ff3 !important;
}

.bg-psychic {
  background: #f95587 !important;
}

.bg-bug {
  background: #a6b91a !important;
}

.bg-rock {
  background: #b6a136 !important;
}

.bg-ghost {
  background: #aa9bbd !important;
}

.bg-dragon {
  background: #8aded5 !important;
}

.bg-dark {
  background: #4a5180 !important;
  color: #e0e0e0 !important;
}

.bg-steel {
  background: #b7b7ce !important;
}

.bg-fairy {
  background: #d685ad !important;
}